Repository andra456/poc-mfe-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix, imagemin-lint-staged

fix: config eslint
  changelog.config.js
  package.json
  yarn.lock
Due: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix

fix: issu yml config jenskins
  .eslintignore
  Dockerfile
  nginx/nginx.conf
  package.json
Due: prettier --config .prettierrc --ignore-path .prettierignore --write

fix: type error at server
  services/ts-node-engine/src/server.ts
Due: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix

test: hvvghvgvgv
  changelog.config.js
  services/remote-next/.env
  services/remote-next/.eslintrc.json
  services/remote-next/README.md
  services/remote-next/components/nextjs-remote-page.js
  services/remote-next/next.config.js
  services/remote-next/package-lock.json
  services/remote-next/package.json
  services/remote-next/pages/_app.js
  services/remote-next/pages/api/routers/[...params].ts
  services/remote-next/pages/api/routers/[[...params]].js
  services/remote-next/pages/index.js
  services/remote-next/pages/index.tsx
  services/remote-next/pages/p/[...slug].tsx
  services/remote-next/public/favicon.ico
  services/remote-next/public/vercel.svg
  services/remote-next/styles/Home.module.css
  services/remote-next/styles/globals.css
  services/remote-next/tsconfig.json
  services/remote-next/yarn.lock
  services/ts-node-engine/package.json
  services/ts-node-engine/src/sample.ts
  yarn.lock
Due: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix, imagemin-lint-staged

test: sdasda
  .husky/prepare-commit-msg
  README copy.md
  README.md
Due: prettier --config .prettierrc --ignore-path .prettierignore --write

test: update
  .husky/prepare-commit-msg
Due: none

test: test
  package.json
  services/customs-next/.env
  services/customs-next/.eslintrc.json
  services/customs-next/.gitignore
  services/customs-next/README.md
  services/customs-next/components/multiLang.js
  services/customs-next/components/nextjs-remote-component.js
  services/customs-next/components/nextjs-remote-page.js
  services/customs-next/next-env.d.ts
  services/customs-next/next.config.js
  services/customs-next/package.json
  services/customs-next/pages/api/routers/[...params].ts
  services/customs-next/pages/index.tsx
  services/customs-next/pages/p/[...slug].tsx
  services/customs-next/pages/source/airasia/pages/auth/config.json
  services/customs-next/pages/source/airasia/pages/auth/index.tsx
  services/customs-next/pages/source/airasia/pages/auth/viewsAuth.tsx
  services/customs-next/pages/source/airasia/pages/preview/config.json
  services/customs-next/pages/source/airasia/pages/preview/index.tsx
  services/customs-next/pages/source/airasia/pages/preview/viewsPreview.tsx
  services/customs-next/pages/source/samsung/pages/auth/config.json
  services/customs-next/pages/source/samsung/pages/auth/index.tsx
  services/customs-next/pages/source/samsung/pages/auth/viewsAuth.tsx
  services/customs-next/pages/source/samsung/pages/preview/config.json
  services/customs-next/pages/source/samsung/pages/preview/index.tsx
  services/customs-next/pages/source/samsung/pages/preview/viewsPreview.tsx
  services/customs-next/tsconfig.json
  services/customs-next/yarn.lock
  services/remote-next/.eslintrc.json
  services/remote-next/pages/source/airasia/pages/auth/config.json
  services/remote-next/pages/source/airasia/pages/preview/config.json
  services/remote-next/pages/source/samsung/pages/auth/config.json
  services/remote-next/pages/source/samsung/pages/preview/config.json
  yarn.lock
Due: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix

test: ddsdsdsdsdsd
  lerna.json
  nginx/nginx.conf
  package.json
  services/customs-next/package.json
  services/customs-next/yarn.lock
  yarn.lock
Due: prettier --config .prettierrc --ignore-path .prettierignore --write

test: csdsds
  Dockerfile
  config/ecosystem.config.js
  config/nginx.conf
  scripts/build.sh
  scripts/run.sh
  services/customs-next/pages/index.tsx
  services/host/package.json
  yarn.lock
Due: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix

feat: wddwsdsd
  changelog.config.js
Due: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

fix: init new project
  package.json
  services/customs-next/README.md
  services/customs-next/package.json
  services/customs-next/pages/api/routers/[...params].ts
  services/customs-next/pages/index.tsx
  services/customs-next/pages/p/[...slug].tsx
  services/remote-next/.env
  services/remote-next/.eslintrc.json
  services/remote-next/.gitignore
  services/remote-next/README.md
  services/remote-next/components/multiLang.js
  services/remote-next/components/nextjs-remote-component.js
  services/remote-next/components/nextjs-remote-page.js
  services/remote-next/next-env.d.ts
  services/remote-next/next.config.js
  services/remote-next/package-lock.json
  services/remote-next/package.json
  services/remote-next/pages/_app.js
  services/remote-next/pages/api/routers/[...params].js
  services/remote-next/pages/index.js
  services/remote-next/pages/p/[...slug].js
  services/remote-next/pages/source/airasia/pages/auth/config.json
  services/remote-next/pages/source/airasia/pages/auth/index.tsx
  services/remote-next/pages/source/airasia/pages/auth/viewsAuth.tsx
  services/remote-next/pages/source/airasia/pages/preview/config.json
  services/remote-next/pages/source/airasia/pages/preview/index.tsx
  services/remote-next/pages/source/airasia/pages/preview/viewsPreview.tsx
  services/remote-next/pages/source/samsung/pages/auth/config.json
  services/remote-next/pages/source/samsung/pages/auth/index.tsx
  services/remote-next/pages/source/samsung/pages/auth/viewsAuth.tsx
  services/remote-next/pages/source/samsung/pages/preview/config.json
  services/remote-next/pages/source/samsung/pages/preview/index.tsx
  services/remote-next/pages/source/samsung/pages/preview/viewsPreview.tsx
  services/remote-next/public/favicon.ico
  services/remote-next/public/vercel.svg
  services/remote-next/server.js
  services/remote-next/styles/Home.module.css
  services/remote-next/styles/globals.css
  services/remote-next/tsconfig.json
  yarn.lock
Due: prettier --config .prettierrc --ignore-path .prettierignore --write, eslint --ignore-path .eslintignore --fix, imagemin-lint-staged

Update README.md
  README.md
Due: prettier --config .prettierrc --ignore-path .prettierignore --write

Path conditions:
  prettier --config .prettierrc --ignore-path .prettierignore --write: (any of: *.{json,md,html}) or (any of: *.{js,jsx,ts,tsx})
  eslint --ignore-path .eslintignore --fix: any of: *.{js,jsx,ts,tsx}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
